/*
* style for  buttons for delete or rotate
*/
.buttons {
    margin-left: 350px;
    margin-top: -35px;
}
/*
* style for div for image
*/
.rotate {
    width: 300px;
}
/*
* style for div for image and buttons
*/
.tdcontainer {
    padding: 40px;
}
